In [109]:
import numpy as np
import pandas as pd
import ast
import nltk

In [42]:
#Loading data into pandas dataframe
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")
#movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [43]:
#merging both movies and credits on the basis of title
movies=movies.merge(credits,on='title')

In [ ]:
#genres,id,keywords,overview,title,cast,crew

In [44]:
movies = movies[['id','genres','keywords','overview','title','cast','crew']]
#movies.head()

,id,genres,keywords,overview,title,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [45]:
#check if any value is null
movies.isnull().sum()

id          0
genres      0
keywords    0
overview    3
title       0
cast        0
crew        0
dtype: int64

In [47]:
#check if any value is duplicate
movies.duplicated().sum()

0

In [46]:
#dropping null values
movies.dropna(inplace=True)

In [ ]:
movies.iloc[0]

In [50]:
#helper function to extract names from the dictionary
def convert(obj):
    l = []
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [54]:
movies['genres']= movies['genres'].apply(convert)

In [52]:
movies['keywords']= movies['keywords'].apply(convert)

In [66]:
#this function will give us names of three members of cast.
def convert_cast(obj):
    m =0
    l=[]
    
    for i in ast.literal_eval(obj):
        if m<3:
            l.append(i['name'])
            m+=1
    return l

In [68]:
movies['cast'] = movies['cast'].apply(convert_cast)

In [71]:
def fetch_director(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job'] == "Director":
            l.append(i['name'])
            break
    return l

In [72]:
movies['crew']=movies['crew'].apply(fetch_director)

In [75]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [82]:
def remove_space(obj):
    l= []
    for i in obj:
        l.append(i.replace(' ',''))
    return l

In [83]:
movies['crew']=movies['crew'].apply(remove_space)

In [85]:
movies['cast']=movies['cast'].apply(remove_space)

In [86]:
movies['keywords']=movies['keywords'].apply(remove_space)

In [87]:
movies['genres']=movies['genres'].apply(remove_space)

In [88]:
movies.head()

,id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bondâ€™s, past, send...",Spectre,"[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes]
3,49026,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [91]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [95]:
newdf = movies[['id','title','tags']]

In [ ]:
newdf['tags']=newdf['tags'].apply(lambda x:" ".join(x))

In [99]:
newdf.head()

,id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [ ]:
newdf['tags']=newdf['tags'].apply(lambda x:x.lower())

In [ ]:

newdf['tags'][0]

In [129]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [130]:
def stem(text):
    y=[]
    print(text)
    for i in text.split():
        print(i)
        y.append(ps.stem(i))
    return " ".join(y)

In [ ]:
#Data preprocessing is done now our data is ready to be used as an input to the prediction model.
newdf['tags']=newdf['tags'].apply(stem)

In [133]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [134]:
vectors=cv.fit_transform(newdf['tags']).toarray()

In [ ]:
vectors[0]

In [ ]:
cv.get_feature_names()

In [136]:
from sklearn.metrics.pairwise import cosine_similarity

In [142]:
similarity=cosine_similarity(vectors)

In [ ]:
similarity[0]

In [146]:
#this function is a test function to check if our data is predicting right movies.
def recommend(movie):
    movie_index = newdf[newdf['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(newdf.iloc[i[0]]['title'])

In [ ]:
recommend('Batman Begins')

In [151]:
import pickle

In [154]:

pickle.dump(newdf.to_dict(),open('movie_dict.pkl','wb'))

In [155]:
pickle.dump(similarity,open('similaritylist.pkl','wb'))